img {
	max-width: 100%;
	height: auto;
}

html, body {
     height: 100%;
}


@media only screen and (max-width: 1020px) and (orientation:portrait){
	
	body {
		
		font-size: 15px;
		font-family: 'Lato', sans-serif;
	
		
		
	}
	
	.container {
		flex-direction: row;
		align-items: stretch;
		text-align: center;
		margin-bottom: 40px;
		
	}
	
	
	}
	
	.logo {
		width: 400px;
		height: auto;
		margin-top: 130px;
		
		
		
		
	}
	
	.email {
	margin-top: 120px;
	margin-bottom:40px;
		margin-left: auto;
		width: 400px;
		height: 25px;
		border: 2px solid #ffef1e;
		
		
		
		
	}
	
	.password {
	margin-bottom:50px; 
		width: 400px;
		height: 25px;
		border: 2px solid #ffef1e;
		
		
	}
	
	
	.button {
		margin-top: 40px;
		margin-bottom: 30px;
		width: 150px;
		height: 26px;
		border-radius: 15px;
		background: url(img/shapebub.jpg);
		background-repeat: repeat-x;
		animation: animbutton 4s alternate infinite;
		
		/*box-shadow: 7px 7px 25px #8c8c8b;*/
		/*border: 1px solid #8c8c8b;*/
	border: 1px solid #ffef1e;
		
		
	}
	
@keyframes animbutton {
	0% {
		background-position: -25px -70px;
		
	}
}

	
a {
	color: #8c8c8b;
}
	
.canvas {
	width: 28px;
	
}




}




