body {
    animation: change;
    animation-duration: 12s;
    width: 100%;

}

.protobug {
    width: 90%;
    display: none;
    margin-left: auto;
    margin-right: auto;
	margin-top: 75%;
    animation: anim 5s;
 
}

.container {
    position: absolute;
    left: 45%;
    top: 50%;

}
/*credits: Lesson from 30.01.2019 about Animation in CSS*/
.circle {
    width: 20px;
    height: 20px;
    background: yellow;
    border-radius: 50%;
    position: absolute;
    animation: animation;
    animation-duration: 7s;
    animation-timing-function: ease-out;
    box-shadow: 0 0 15px 1px yellow;

}


/*yellow circle animation*/
@keyframes animation {
    0% {
        transform-origin: -940% -900%;
        transform: rotate(100deg);
        opacity: 0;

    }

    40% {
        transform-origin: 900% 50%;
        transform: rotate(360deg);
    }
}


/*ybackground color changing animation*/
@keyframes change {
    0% {
        background: #000000;
    }
    
    30% {
        background: #000000;
    }

    60% {
        background: #152238;
    }

    90% {
        background: #ffffff;
    }
}
