/* pre-settings */
img {
    max-width: 100%;
    height: auto;
}
body {

    font-family: 'Lato', sans-serif;
}

html,
body {
    height: 100%;
}


/* media queries for phone */
@media only screen and (max-width: 1020px) and (orientation:portrait) {


/****************************************************/
/* menu and icons */

    #icon {
        width: 10%;
        
    }
    
    .icons {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
        justify-content: space-around;
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-color: #F6F6F6;
    }

    #home {
        padding: 20px;
        width: 5%;
    }

    #calendar {
        padding: 20px;
        width: 5%;
    }

    #create {
        padding: 20px;
        width: 5%;
    }

    #profile {
        padding: 20px;
        width: 5%;
    }
}



/****************************************************/
/* login page */


.logincontainer {
    flex-direction: row;
    align-items: stretch;
    text-align: center;
    margin-bottom: 5px;
}
.logo {
    width: 75%;
    margin-top: 80px;
}
.email {
    margin-top: 60px;
    margin-bottom: 25px;
    margin-left: auto;
    width: 250px;
    height: 35px;
    border: 2px solid #ffef1e;
}
.password {
    margin-bottom: 25px;
    margin-left: auto;
    width: 250px;
    height: 35px;
    border: 2px solid #ffef1e;
}

.canvas {
    width: 20%;
    margin-left: 8px;

}

.canvascontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 40px;
    justify-content: center;
}

.remember {
    margin-bottom: 3px;
}

/* wavy button for login */
.button {
    margin-top: 40px;
    margin-bottom: 30px;
    width: 130px;
    height: 35px;
    border-radius: 80px;
    background: url(img/shapebub.jpg);
    background-repeat: repeat-x;
    animation: animbutton 4s alternate infinite;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    color: #8c8c8b;
    border: 1px solid #ffef1e;
}
@keyframes animbutton {
    0% {
        background-position: -25px -70px;

    }
}




/* home page and calendar has an anouther CSS due to differences on these pages */


/****************************************************/
/* event description page */

.attend {
     text-decoration: none;
    color: #8c8c8b;
    font-family: Lato; 
    font-size: 50px;
    
}

.workshop_name {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.workshop_name > a {
    width: 3%;
    margin-left: 6%;
    margin-bottom: 1%;
    margin-top: 15%;
    margin-right: 5%;
}


.video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
    margin-top: 4em;
    border-radius: 2em;
    width: 70%;
}

.list {
    display: flex;
    flex-direction: row;
}

.list > img {
    width: 5%;
    height: 8%;
    margin-right: 5%;
    margin-top: 3%;
    margin-left: 15%;
}

.list > h2 {
    color: #21B3B2;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
}

.leader {
    display: flex;
    flex-direction: row;
}

.leader > img {
    width: 5%;
    height: 8%;
    margin-right: 5%;
    margin-top: 4%;
    margin-left: 15%;
}

.leader > h1 {
    color: #21B3B2;
    font-family: 'Lato', sans-serif;
    font-size: 1.7em;
}


/* wavy event button */
.button2 {
    margin-top: 80px;
    margin-bottom: 30px;
    width: 340px;
    height: 80px;
    border-radius: 80px;
    background: url(img/shapebub.jpg);
    background-repeat: repeat-x;
    animation: animbutton 4s alternate infinite;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    border: 1px solid #ffef1e;
}

@keyframes animbutton {
    0% {
        background-position: -25px -70px;

    }
}


/***************************************************/
/* EVENT pop-up page settings */

.box {

    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border: 2px solid #fff;

}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255, 0.9);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 10em auto;
    padding: 5em;
    background: #fff;
    border: 4px solid #FFEF1E;
    border-radius: 2em;
    width: 60%;
    height: 60%;
    position: relative;
}

.popup h2 {
    margin-top: 3.5em;
    color: #1D1D1B;
    font-family: 'Lato', sans-serif;
    font-size: 3.2em;
    text-align: center;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 400%;
    font-weight: bold;
    text-decoration: none;
    color: #1D1D1B;
}

.popup .close:hover {
    color: #1D1D1B;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
    margin-top: 25%;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.popup .content > p {
    color: #8C8C8B;
}

.popup .content1 {
    max-height: 30%;
    overflow: auto;
    font-size: 3.5em;
    margin-top: 25%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #8C8C8B;
}






/* **************************************************/
/* create page */


/* lead a workshop*/
#lead {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #dbdbdb;
    width: 80%;
    font-family: Lato, sans-serif;
    color: #8c8c8b;
    border-radius: 10px;
}

/* suggest a topic */
#suggest {
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #dbdbdb;
    width: 80%;
    font-family: Lato, sans-serif;
    color: #8c8c8b;
    border-radius: 10px;
}

/* form class */
.formu {
    margin-left: 59px;
    margin-right: 20px;
}

/* main two extendable buttons */
.button3 {
    margin-top: 50px;
    width: 300px;
    height: 40px;
    border-radius: 30px;
    background: #ffef1e;
    background-repeat: repeat-x;
    animation: animbutton 4s alternate infinite;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    border: 1px solid #ffef1e;
}

/* wavy buttons at the end */
.buttoncreate {
    margin-top: 40px;
    margin-bottom: 30px;
    width: 120px;
    height: 30px;
    border-radius: 100px;
    background: url(img/shapebub.jpg);
    background-repeat: repeat-x;
    animation: animbutton 4s alternate infinite;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    color: #8c8c8b;
    border: 1px solid #ffef1e;
    margin-left: 25px;
    margin-right: 20px;
}
@keyframes animbutton {
    0% {
        background-position: -25px -70px;
    }
}


/* description text */
.createfont {
    margin-right: 45px;
    margin-left: 45px;
    margin-bottom: 15px;
    text-align: justify;
}





/* fonts ALL */
/*******************************************************/


a {
    text-decoration: none;
    color: #8c8c8b;
    font-family: Lato; 
    font-size: 25px;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 70px;
}

h2 {
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 0px;

}


h3 {
    font-size: 10px;
    margin-top: 30px;
    margin-bottom: 0px;

}

h4 {
    font-size: 35px;
}

h5 {
    font-size: 15px;
}

p {
    font-size: 16px;
    color: #4a4a4a;
}





